button{
    margin-top: 3%;
    height: 100px;
    width: 130px;
    background-color: rgb(228, 55, 150);
}
button:hover{
    background-color: rgb(29, 227, 223);
}
/* *body{
    background-color: cadetblue;
} */
